<div class="container">    
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Login</div>
                <ul class="alert alert-info" ng-if="confirm">
                    <li>{{confirm}}</li>
                </ul>
                
                <ul ng-if="messages" class="alert alert-danger">
                    <li ng-if="messages.email[0]">{{messages.email[0]}}</li>
                    <li ng-if="messages.password[0]">{{messages.password[0]}}</li>
                    <li ng-if="messages.message">{{messages.message}}</li>
                </ul>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">E-Mail Address</label>

                            <div class="col-md-6">

                                <input ng-model="inputs.email" id="email" type="email" class="form-control" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-md-4 control-label">Password</label>

                            <div class="col-md-6">
                                <input ng-model="inputs.password" id="password" type="password" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <div class="checkbox">
                                    <label>
                                        <input ng-model="inputs.remember" type="checkbox"> Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <a class="btn btn-primary" ng-click="submit(inputs)">
                                    Login
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>