<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Register</div>
                <ul ng-if="errors" class="alert alert-danger">
                    <li ng-if="errors.name[0]">{{errors.name[0]}}</li>
                    <li ng-if="errors.email[0]">{{errors.email[0]}}</li>
                    <li ng-if="errors.password[0]">{{errors.password[0]}}</li>
                    <li ng-if="errors.password_confirmation[0]">{{errors.password_confirmation[0]}}</li>
                </ul>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="name" class="col-md-4 control-label">Name</label>

                            <div class="col-md-6">
                                <input ng-model="inputs.name" id="name" type="text" class="form-control" value="" autofocus>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">E-Mail Address</label>

                            <div class="col-md-6">
                                <input ng-model="inputs.email" id="email" type="email" class="form-control" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-md-4 control-label">Password</label>

                            <div class="col-md-6">
                                <input ng-model="inputs.password" id="password" type="password" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password-confirm" class="col-md-4 control-label">Confirm Password</label>

                            <div class="col-md-6">
                                <input ng-model="inputs.password_confirmation" id="password-confirm" type="password" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary" ng-click="submit(inputs)">
                                    Register
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>